In [1]:
import sqlite3

In [8]:
connection = sqlite3.connect('db.sqlite3')

In [9]:
cursor = connection.cursor()

In [10]:
cursor.execute("SELECT * FROM zomato_restaurant Limit 10")
rows = cursor.fetchall()

In [11]:
print("Hey")
for row in rows:
    print(row)

Hey

In [12]:
import pandas as pd

def insert_data_from_csv(cursor, csv_file):
    count = 0
    df = pd.read_csv(csv_file)
    for _, row in df.iterrows():
        if count == 10000:
            break
        count = count + 1
        cursor.execute('''INSERT INTO zomato_restaurant (
                            url, name, online_order, book_table, rate, votes,
                            location, rest_type, cuisines, cost2plates, listed_in_type,
                            area, ratings, reviews, count, sentiments, summaries,
                            sentiment_label, index_f
                        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''',
                        (
                            row['url'], row['name'], row['online_order'], row['book_table'],
                            row['rate'], int(row['votes']), row['location'], row['rest_type'],
                            row['cuisines'], float(row['cost2plates']), row['listed_in_type'],
                            row['area'], row['ratings'], row['reviews'], int(row['count']),
                            row['sentiments'], row['summaries'], row['sentiment_label'], int(row['index'])
                        ))

In [13]:
insert_data_from_csv(cursor, 'zomato_cleaned.csv')

In [14]:
connection.commit()

In [15]:
connection.close()